{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .video-card {
        width: 320px;
        height: 240px;
        display: flex;
        flex-direction: row;
    }
</style>
<div class="container">
    <div class="row">
        {% for video in videos %}
        {% with video.get_videourl as videourl %}
        <div class="col">
            <video class="video-card card-image-top" controls>
                <source src="{{videourl}}" type="video/mp4"></source>
            </video>
            
            <a href="{% url 'videos:video_delete_url' video.video_set.id video.id %}" class="btn btn-sm btn-outline-success mx-1 my-1">
                <img src="{% static 'img/cross.png' %}" alt="" />
            </a>
            <a href="{% url 'detect:detection_video_detail_url' video.id %}" class="btn btn-sm btn-outline-success mx-1 my-1">
                Detect Objects
            </a>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
    
</div>
{% endblock content %}
